body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#aqui, #mais, .calcular {
    background-color: #f52af5;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
}

#aqui:hover, #mais:hover, .calcular:hover {
    background-color: blueviolet;
}