
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg, #2af5da, blueviolet); 
}

.pagina {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

input {
    border: 1px solid #02dd5d;
    border-radius: 8px;
    padding: 5px;
}

.form {
    
    background: white;
    padding: 30px;
    border-radius: 30px;
    width: 70vw;
    margin: 0 auto;
    text-align: left;
    box-shadow: 1px 1px 20px 1px #02ddae;
    margin-bottom: 20vh;
}

#aqui, #mais, .calcular {
    background-color: #02ddae;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
}

#aqui:hover, #mais:hover, .calcular:hover {
    background-color: rgb(43, 101, 226);
}

/* ////////////// */
/* Animações */
/* ////////////// */

.animaInfo {
    animation: surgir 1.2s linear;
}

@keyframes surgir {
    0% {
        opacity: 0%;
    }

    60% {
        opacity: 40%;
    }

    100% {
        opacity: 100%;
    }
}