body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#aqui, #mais {
    background-color: rgb(245, 42, 245);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    transition: 200ms;
}

#aqui:hover, #mais:hover {
    background-color: blueviolet;
}